<div class="">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Navbar</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="accordion ui piled  segments" id="accordionExample">
        <div class="ui center aligned segment">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOn"
                        aria-expanded="true" aria-controls="collapseOne">
                        John Doe
                    </button>
                </h5>
            </div>

            <div id="collapseOn" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body row">
                    <div class="col">
                        <div class="card card-body">
                            <a class="ui teal ribbon label">Patient Info</a>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Full Name</td>
                                        <td>John Doe</td>
                                    </tr>
                                    <tr>
                                        <td>Id No.</td>
                                        <td>098765432123</td>
                                    </tr>
                                    <tr>
                                        <td>Contact No.</td>
                                        <td>0981234567</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>123 yak rd Heidelfelt Cape Town</td>
                                    </tr>
                                    <tr>
                                        <td>Illness</td>
                                        <td>Stroke</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor Name</td>
                                        <td>Dr. Hudson</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor's No.</td>
                                        <td>0751237495</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body ">
                            <a class="ui blue ribbon label">Medication History</a>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Swollen Tounge</td>
                                    </tr>
                                    <tr>
                                        <td>Meds</td>
                                        <td>corticosteroid, antihistamine, Diphenhydramine 25 mg bid</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>05 September 2018 </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Asthma/COPD</td>
                                    </tr>
                                    <tr>
                                        <td>Meds</td>
                                        <td>albuterol and ipratropium nebs prn, theophylline </td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>31 August 2018 </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>GERD</td>
                                    </tr>
                                    <tr>
                                        <td>Meds</td>
                                        <td>famotidine </td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>11 July 2018 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body">
                            <a class="ui orange right ribbon label">Appointments</a>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Appointment regarding therapy</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>23 Oct 2018 at 12:30</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>See Dentist</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>29 Oct 2018 at 12:30</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Exray scan</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>04 Nov 2018 at 12:30</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui center aligned segment">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        John Wick
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body row">
                    <div class="col">
                        <div class="card card-body">
                            <a class="ui teal ribbon label">Patient Info</a>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Full Name</td>
                                        <td>John Doe</td>
                                    </tr>
                                    <tr>
                                        <td>Id No.</td>
                                        <td>098765432123</td>
                                    </tr>
                                    <tr>
                                        <td>Contact No.</td>
                                        <td>0981234567</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>123 yak rd Heidelfelt Cape Town</td>
                                    </tr>
                                    <tr>
                                        <td>Illness</td>
                                        <td>Stroke</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor Name</td>
                                        <td>Dr. Hudson</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor's No.</td>
                                        <td>0751237495</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body ">
                            <a class="ui blue ribbon label">Medication History</a>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Swollen Tounge</td>
                                    </tr>
                                    <tr>
                                        <td>Meds</td>
                                        <td>corticosteroid, antihistamine, Diphenhydramine 25 mg bid</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>05 September 2018 </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Asthma/COPD</td>
                                    </tr>
                                    <tr>
                                        <td>Meds</td>
                                        <td>albuterol and ipratropium nebs prn, theophylline </td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>31 August 2018 </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>GERD</td>
                                    </tr>
                                    <tr>
                                        <td>Meds</td>
                                        <td>famotidine </td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>11 July 2018 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body">
                            <a class="ui orange right ribbon label">Appointments</a>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Appointment regarding therapy</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>23 Oct 2018 at 12:30</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>See Dentist</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>29 Oct 2018 at 12:30</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Exray scan</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>04 Nov 2018 at 12:30</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui center aligned segment">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Boogy Man
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body row">
                    <div class="col">
                        <div class="card card-body">
                            <a class="ui teal ribbon label">Patient Info</a>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Full Name</td>
                                        <td>John Doe</td>
                                    </tr>
                                    <tr>
                                        <td>Id No.</td>
                                        <td>098765432123</td>
                                    </tr>
                                    <tr>
                                        <td>Contact No.</td>
                                        <td>0981234567</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>123 yak rd Heidelfelt Cape Town</td>
                                    </tr>
                                    <tr>
                                        <td>Illness</td>
                                        <td>Stroke</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor Name</td>
                                        <td>Dr. Hudson</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor's No.</td>
                                        <td>0751237495</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body ">
                            <a class="ui blue ribbon label">Medication History</a>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Swollen Tounge</td>
                                    </tr>
                                    <tr>
                                        <td>Meds</td>
                                        <td>corticosteroid, antihistamine, Diphenhydramine 25 mg bid</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>05 September 2018 </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Asthma/COPD</td>
                                    </tr>
                                    <tr>
                                        <td>Meds</td>
                                        <td>albuterol and ipratropium nebs prn, theophylline </td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>31 August 2018 </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>GERD</td>
                                    </tr>
                                    <tr>
                                        <td>Meds</td>
                                        <td>famotidine </td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>11 July 2018 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-body">
                            <a class="ui orange right ribbon label">Appointments</a>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Appointment regarding therapy</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>23 Oct 2018 at 12:30</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>See Dentist</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>29 Oct 2018 at 12:30</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="ui definition table">
                                <tbody>
                                    <tr>
                                        <td class="two wide column">Description</td>
                                        <td>Exray scan</td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>04 Nov 2018 at 12:30</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>